* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.head-title h3 {
  text-align: center;
  font-size: 1.5rem;
  text-transform: capitalize;
  padding: 5% 0%;
}
.page-one,
.page-two {
  background-color: #fffafa;
}
.page-one h2 {
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 3%;
  font-size: 2rem;
}
.page-one p {
  margin: 0% 30%;
  text-align: center;
  height: 100%;
}
.sub-nav {
  text-align: center;
  margin: 7% 0%;
  margin-bottom: 15%;
}
.sub-nav a {
  border: 1px solid red;
  width: 33%;
  padding: 1% 2%;
  margin-left: 3%;
  text-decoration: none;
  font-size: 1.2rem;
}
.linkA {
  background-color: red;
  color: white;
}
.linkA:hover {
  cursor: pointer;
  background-color: white;
  color: red;
}
.linkB {
  background-color: white;
  color: red;
}
.linkB:hover {
  cursor: pointer;
  background-color: red;
  color: white;
}
.page-two-head {
  text-align: center;
}
.page-two-head h4 {
  color: red;
  font-size: 0.8rem;
  text-transform: capitalize;
  margin: 1%;
}
.page-two-head p {
  font-size: 1.5rem;
  margin: 0% 38%;
  margin-bottom: 4%;
}
.tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.tabA,
.tabB,
.tabC {
  width: 33%;
  padding: 3%;
  margin: 0% 3%;
  background-color: rgb(246, 241, 234);
}
.tabA h3,
.tabB h3,
.tabC h3 {
  margin: 4% 1%;
  margin-right: 50%;
  padding: 10% 7%;
  background-color: white;
}
.tabA p,
.tabB p,
.tabC p {
  font-size: 1.2rem;
  padding-top: 30%;
  padding-bottom: 5%;
}
.tabA a,
.tabB a,
.tabC a {
  text-decoration: none;
  color: red;
}
.page-three {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 3% 0%;
}
.footA,
.footB,
.footC,
.footD {
  padding: 3%;
  width: 25%;
}
.page-three h5 {
  font-size: 1.5rem;
  padding: 5% 0%;
  text-transform: capitalize;
}
.footB a {
  text-decoration: none;
  color: red;
}
.footC a {
  color: red;
}
.hr-line {
  margin: 5% 20% 2% 20%;
}
footer {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 10%;
}
@media (max-width: 770px) {
  .page-one p {
    margin: 0% 15%;
  }
  .sub-nav {
    display: flex;
    flex-direction: column;
    margin: 10%;
  }
  .sub-nav a {
    width: 100%;
    margin-bottom: 5%;
  }
  .page-two-head p {
    margin: 0% 5%;
  }
  .tab {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .tabA,
  .tabB,
  .tabC {
    width: 100%;
    margin: 5%;
    width: 90%;
  }
  .page-three {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .footA,
  .footB,
  .footC,
  .footD {
    width: 100%;
  }
}
